
.ipynb_checkpoints/QTW_FINAL_EDA-checkpoint.ipynb
.ipynb_checkpoints/QUANT_FINAL_UPDATE_NULLs-checkpoint.ipynb
final_project.csv
final_project_mod.csv
.ipynb_checkpoints/QUANT_FINAL_Combined-checkpoint.ipynb
.ipynb_checkpoints/QUANT_FINAL_Combined_Bruce-checkpoint.ipynb
.ipynb_checkpoints/QUANT_FINAL_Combined_Serna-checkpoint.ipynb
